<% layout('layouts/boilerplate') -%>

    <body>
        <!-- <div class="row col-10 offset-1"> -->
        <div class="row">
            <h1 class="col-4">All contacts</h1>
        <a href="/contacts/new" class="btn btn-outline-dark col-2 ms-auto m-3 p-2">Add New</a>
        </div>
        <div class="list-group">
            <div class="container">
                <!-- Header row -->
                <a class="list-group-item list-group-item-action active" aria-current="true">


                    <div class="row ">
                        <div class="col">
                            First Name
                        </div>
                        <div class="col">
                            Last Name
                        </div>
                        <div class="col">
                            Email
                        </div>
                        <div class="col">
                            Phone Number
                        </div>
                        <div class="col">
                            Address
                        </div>
                        <div class="col">
                            Actions
                        </div>
                    </div>
                </a>
                <!-- Records rows -->
                <% for (let contact of contacts) { %>
                    

                        <div class="row p-2 border">
                            <div class="col">
                                <a href="/contacts/<%= contact._id %>"><%= contact.firstname %></a>
                            </div>
                            <div class="col">
                                <%= contact.lastname %>
                            </div>
                            <div class="col">
                                <%= contact.email %>
                            </div>
                            <div class="col">
                                <%= contact.phonenumber %>
                            </div>
                            <div class="col">
                                <%= contact.address %>
                            </div>
                            <div class="col">
                                <a href="/contacts/<%= contact._id %>/edit"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="/contacts/<%= contact._id %>/delete" class="mx-4"><i class="fa-solid fa-trash text-danger"></i></a>
                            </div>
                        </div>
                
                    <% } %>
            </div>
        </div>
        <!-- </div> -->

    </body>